.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(#1e1b1b, .5);
  display: none;

  &__content {
    padding: 20px;
    border-radius: 15px;
    background-color: white;
  }

  &_active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}