.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid rgb(93, 162, 177);
  border-radius: 20px;
  padding: 25px;
  margin-bottom: 20px;
  &__buttons {
    display: flex;
    gap: 10px;
  }
}